@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none; }

html[data-agent*="Trident"] .section-video .blur {
  display: none; }

html[data-agent*="Trident"] .section-video .blur-ie {
  display: block; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  -ms-touch-action: manipulation;
  touch-action: manipulation; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

i {
  font-style: italic; }

b {
  font-weight: 700; }

input, input:before, input:after {
  -webkit-user-select: initial;
  -khtml-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
  -webkit-appearance: none;
  border-radius: 0; }

a {
  text-decoration: none; }

html, body {
  background: #E0E0E0;
  font-family: sans-serif; }

nav {
  max-width: 1200px;
  background: #fff;
  margin: 0 auto;
  padding-top: 15px; }
  nav img {
    height: 95px;
    widht: auto;
    margin-left: 10px; }
  nav ul {
    background: #363636;
    width: 100%;
    margin-top: 10px;
    border-bottom: #ad0401 solid 25px;
    font-size: 0; }
    nav ul li {
      display: inline-block;
      width: 100px;
      text-align: center;
      font-size: 13px;
      text-transform: uppercase;
      font-weight: 600;
      padding: 12px 0 14px 0; }
      nav ul li a {
        color: #fff; }
      nav ul li:hover {
        background: #ad0401;
        -webkit-transition: all .2s;
        -o-transition: all .2s;
        transition: all .2s; }
    nav ul .burger {
      display: none; }
  @media (min-width: 0) and (max-width: 850px) {
    nav img {
      height: 60px; }
    nav ul {
      margin-top: 0;
      height: 65px;
      overflow: hidden;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }
      nav ul li {
        display: block;
        text-align: left;
        padding-left: 12px;
        width: 100%;
        font-size: 14px; }
        nav ul li:first-of-type {
          border-bottom: #E0E0E2 solid 0.5px; }
        nav ul li:nth-of-type(2) {
          margin-top: 7px; }
      nav ul .burger {
        padding: 4px 0 4px 12px;
        display: block;
        border-bottom: none; }
        nav ul .burger:hover {
          background: #363636; }
        nav ul .burger img {
          height: 30px;
          width: auto;
          padding: 4px; }
          nav ul .burger img:hover {
            border: #ad0401 solid 1px;
            border-radius: 5px;
            -webkit-transition: all .5s;
            -o-transition: all .5s;
            transition: all .5s; }
    nav .burgermobile {
      -webkit-transition: all .5s;
      -o-transition: all .5s;
      transition: all .5s;
      height: 325px; } }

.product-page {
  max-width: 1200px;
  background: #fff;
  margin: 0 auto; }
  .product-page .container {
    max-width: 1050px;
    margin: 0 auto; }
    .product-page .container .product {
      font-size: 0;
      padding: 50px 0; }
      @media (min-width: 0) and (max-width: 1050px) {
        .product-page .container .product {
          width: 93%;
          margin: 0 auto; } }
      .product-page .container .product figure {
        width: 400px;
        height: 336px;
        display: inline-block;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-left: 10px; }
        @media (min-width: 851px) and (max-width: 1050px) {
          .product-page .container .product figure {
            margin-left: 10px;
            width: 380px;
            height: 319px; } }
        @media (min-width: 651px) and (max-width: 850px) {
          .product-page .container .product figure {
            width: 44%;
            height: 260px;
            margin: 0 10px 0 0; } }
        @media (min-width: 0) and (max-width: 650px) {
          .product-page .container .product figure {
            display: block;
            width: 250px;
            height: 210px;
            margin: 0 auto; } }
      .product-page .container .product aside {
        font-size: 10px;
        display: inline-block;
        vertical-align: top;
        float: right;
        margin-right: 60px; }
        @media (min-width: 851px) and (max-width: 1050px) {
          .product-page .container .product aside {
            width: 43%;
            margin-right: 50px; } }
        @media (min-width: 651px) and (max-width: 850px) {
          .product-page .container .product aside {
            width: 45%;
            margin-right: 0; } }
        @media (min-width: 401px) and (max-width: 650px) {
          .product-page .container .product aside {
            width: 80%;
            display: block;
            margin: 0 auto;
            float: none; } }
        @media (min-width: 0) and (max-width: 400px) {
          .product-page .container .product aside {
            width: 96%;
            margin: 0 auto 30px auto; } }
        .product-page .container .product aside h1 {
          font-size: 22px;
          color: #0D476F;
          font-weight: 600;
          margin: 10px 0; }
        .product-page .container .product aside h5 {
          font-size: 12px;
          color: #000;
          font-weight: 600;
          margin-bottom: 17px;
          letter-spacing: -1px; }
        .product-page .container .product aside h3 {
          font-size: 19px;
          font-weight: 600;
          color: #ad0401;
          letter-spacing: -1px;
          margin-bottom: 10px; }
        .product-page .container .product aside span {
          text-transform: uppercase;
          padding-left: 15px;
          position: relative;
          display: block;
          font-weight: 600;
          letter-spacing: -1px;
          font-size: 12px;
          margin-bottom: 10px; }
          .product-page .container .product aside span:before {
            content: '';
            width: 12px;
            height: 12px;
            background: #3AB54A;
            border-radius: 100%;
            position: absolute;
            top: 0;
            left: 0; }
        .product-page .container .product aside .cart {
          background: #F1F1F3;
          width: 100%;
          border: 2px solid #E0E0E2;
          font-size: 0;
          margin-bottom: 13px; }
          @media (min-width: 0) and (max-width: 850px) {
            .product-page .container .product aside .cart .label {
              width: 40%; }
            .product-page .container .product aside .cart .addbutton {
              width: 60%; } }
          .product-page .container .product aside .cart div {
            display: inline-block;
            width: 50%; }
            .product-page .container .product aside .cart div label {
              font-size: 12px;
              color: #000;
              margin: 0 12px;
              display: inline-block;
              font-weight: 600; }
            .product-page .container .product aside .cart div input {
              display: inline-block;
              width: 25px;
              border: 2px solid #E0E0E2;
              text-align: center;
              padding: 3px 0; }
            .product-page .container .product aside .cart div .addcart {
              font-size: 13px;
              line-height: 35px;
              color: #fff;
              background: #3AB54A;
              border: 1px solid #96D5A0;
              border-radius: 5px;
              padding: 0 16px;
              font-weight: 600;
              margin: 7px 0 7px 20px;
              position: relative;
              width: 140px; }
              .product-page .container .product aside .cart div .addcart p {
                display: inline-block; }
              .product-page .container .product aside .cart div .addcart .fa-shopping-cart {
                margin-right: 8px; }
              .product-page .container .product aside .cart div .addcart:hover p {
                -webkit-transition: all 1s;
                -o-transition: all 1s;
                transition: all 1s;
                -webkit-transform: translateX(-22px);
                -ms-transform: translateX(-22px);
                transform: translateX(-22px); }
              .product-page .container .product aside .cart div .addcart:hover .fa-shopping-cart {
                -webkit-transition: all .6s;
                -o-transition: all .6s;
                transition: all .6s;
                -webkit-transform: translateX(88px);
                -ms-transform: translateX(88px);
                transform: translateX(88px);
                opacity: 1; }
            .product-page .container .product aside .cart div .addedcart {
              text-transform: uppercase;
              background: #368445;
              -webkit-transition: all 2s;
              -o-transition: all 2s;
              transition: all 2s; }
              .product-page .container .product aside .cart div .addedcart:hover p {
                -webkit-transform: none;
                -ms-transform: none;
                transform: none; }
              .product-page .container .product aside .cart div .addedcart:hover .fa-shopping-cart {
                -webkit-transform: none;
                -ms-transform: none;
                transform: none; }
        .product-page .container .product aside .favorites {
          border: 1px solid #575759;
          border-radius: 5px;
          background: transparent;
          letter-spacing: -1px;
          font-size: 11px;
          font-weight: 600;
          padding: 3px 3px 5px 8px;
          color: #575759;
          width: 120px; }
          .product-page .container .product aside .favorites p {
            display: inline-block; }
          .product-page .container .product aside .favorites .fa-heart {
            color: #ad0401;
            margin-right: 6px;
            font-size: 12px; }
          .product-page .container .product aside .favorites:hover {
            -webkit-transition: all 1s;
            -o-transition: all 1s;
            transition: all 1s;
            background: #ad0401;
            color: #fff;
            border: 1px solid #c4221f; }
            .product-page .container .product aside .favorites:hover .fa-heart {
              color: #fff;
              font-weight: 800;
              -webkit-transition: all 1s;
              -o-transition: all 1s;
              transition: all 1s; }
        .product-page .container .product aside .addedfavorites {
          background: #ad0401;
          color: #fff;
          border: 1px solid #c4221f; }
          .product-page .container .product aside .addedfavorites .fa-heart {
            color: #fff;
            font-weight: 800;
            -webkit-transition: all 1s;
            -o-transition: all 1s;
            transition: all 1s; }

.description {
  margin-bottom: 55px; }
  @media (min-width: 0) and (max-width: 1100px) {
    .description {
      width: 93%;
      margin: 0 auto 55px auto; } }
  .description h4 {
    background: #ad0401;
    text-transform: uppercase;
    color: #fff;
    padding: 12px 60px;
    display: inline-block;
    font-size: 15px; }
  .description .text-area {
    background: #F1F1F3;
    padding: 40px 30px; }
    .description .text-area p {
      font-size: 13px;
      margin-bottom: 10px;
      line-height: 16px; }
      .description .text-area p:last-of-type {
        margin-top: 20px;
        margin-bottom: 20px; }
    .description .text-area ul li {
      font-size: 13px;
      position: relative;
      line-height: 15px; }
      .description .text-area ul li:before {
        content: '■';
        color: #0D476F;
        padding: 0 7px 0 20px;
        font-size: 21px; }

.related {
  padding-bottom: 60px; }
  @media (min-width: 0) and (max-width: 1100px) {
    .related {
      width: 93%;
      margin: 0 auto; } }
  @media (min-width: 0) and (max-width: 950px) {
    .related {
      text-align: center; } }
  .related h4 {
    color: #ad0401;
    text-transform: uppercase;
    padding-bottom: 7px;
    font-size: 18px;
    border-bottom: #ad0401 2px solid;
    font-weight: 600;
    margin-bottom: 30px; }
    @media (min-width: 0) and (max-width: 950px) {
      .related h4 {
        text-align: left; } }
  .related figure {
    width: 30%;
    display: inline-block;
    margin: 0 10px 20px 0;
    text-align: center;
    font-size: 0; }
    @media (min-width: 600px) and (max-width: 950px) {
      .related figure {
        width: 49%;
        margin-right: 0; } }
    @media (min-width: 0) and (max-width: 600px) {
      .related figure {
        width: 100%; } }
    .related figure:hover a {
      text-decoration: underline;
      color: #2771a5;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }
    .related figure:last-of-type {
      margin-right: 0; }
    .related figure a {
      display: block;
      font-size: 14px;
      color: #459FDE;
      font-weight: 600; }
      .related figure a img {
        width: 220px;
        height: auto;
        margin-bottom: 20px; }

footer {
  max-width: 1200px;
  margin: 0 auto;
  background: #363636;
  margin-bottom: 30px; }
  footer p {
    color: #E0E0E2;
    max-width: 1050px;
    margin: 0 auto;
    padding: 15px 0 20px 0;
    font-size: 11px; }
    @media (min-width: 0) and (max-width: 1100px) {
      footer p {
        width: 93%; } }
