$red: #ad0401;
$grey: #363636;
$light-grey: #F1F1F3;
$blue: #0D476F;
$link-blue: #459FDE;
$green: #3AB54A;
$border-grey:#E0E0E2;
$text-color:#575759;


a {
	text-decoration:none;
}

html, body {
	background: #E0E0E0;
	font-family:sans-serif;
}